.juegos{
      
    margin-bottom: 10px;
    border: solid red;
}

.juegos img{
    width: 80%;
    height: auto;
    margin-left: 30px;
}


.card{
    width: 30%;
    height: 30%;
    display: inline-block;
}

.principal{
    background-color: beige;

}
.titulo{
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.titulo p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
