<div class="principal animated fadeIn fast">
  <div class="titulo">
    <p>
      Bienvenido a la Sala de Juegos!
    </p>
    <p>
      En este espacio encontraras varios juegos clasicos que a pesar de los años siguen en vigencia.
    </p>
    <p>
      Que los disfrutes!
    </p>
  </div>
  <div class="juegos">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/piedra-papel-tijeras.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Piedra Papel o Tijera</h5>
        <p class="card-text">Mucha suerte!</p>
        
      </div>
      <div class="card-footer">
          <a routerLink="/Juegos/PiedraPapelTijera" class="btn btn-success btn-block">Jugar</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/agilidad.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Velocidad y agilidad aritmética</h5>
        <p class="card-text">Pon a prueba tu velociad mental!</p>
      </div>
      <div class="card-footer">
        <a routerLink="/Juegos/Agilidad" class="btn btn-primary btn-block">Jugar</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/adivina.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Adivina el número secreto</h5>
        <p class="card-text">Cuantos menos intentos mejor!</p>
      </div>
      <div class="card-footer">
        <a routerLink="/Juegos/Adivina" class="btn btn-danger btn-block">Jugar</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/anagrama.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Anagrama</h5>
        <p class="card-text">Cuantos menos intentos mejor!</p>
      </div>
      <div class="card-footer">
        <a routerLink="/Juegos/Anagrama" class="btn btn-warning btn-block">Jugar</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="../../../assets/imagenes/conteo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cuenta Rapido</h5>
        <p class="card-text">Cuantos menos intentos mejor!</p>
      </div>
      <div class="card-footer">
        <a routerLink="/Juegos/Conteo" class="btn btn-info btn-block">Jugar</a>
      </div>
    </div>


  </div>