<div class="animated fast fadeIn">
  <div class="header">
    <h1>Piedra Papel o Tijera</h1>
    <span>A jugar.. </span>
    <span>Haga click en la figura.</span>
  </div>
  <div class="game">
    <div>
      <button (click)="jugar(3)">
        <img src="../../../assets/imagenes/piedra.jpg" alt="">
      </button>
    </div>
    <div>
      <button (click)="jugar(2)">
        <img src="../../../assets/imagenes/papel.jpg">
      </button>
    </div>
    <div>
      <button (click)="jugar(1)">
        <img src="../../../assets/imagenes/tijera.jpg" alt="" srcset="">
      </button>
    </div>
  </div>
  <div class="gameEnd">
    <div>
      <div *ngIf="this.eleccionMaquina == 1">
        <img src="../../../assets/imagenes/tijera.jpg" alt="" srcset="">
      </div>
      <div *ngIf="this.eleccionMaquina == 2">
        <img src="../../../assets/imagenes/papel.jpg" alt="" srcset="">
      </div>
      <div *ngIf="this.eleccionMaquina == 3">
        <img src="../../../assets/imagenes/piedra.jpg" alt="" srcset="">
      </div>
    </div>
    <div>
      <h1>{{resultado}}</h1>
    </div>
  </div>
</div>